<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display multiple details</h1>

        <table border="3px">
            <tr>
                <td>pk</td>
                <td>topic_name</td>
                <td>name</td>
                <td>url</td>
                <td>email</td>
            </tr>
            {% for wo in web1 %}
            <tr>
                <td>{{ wo.pk}}</td>
                <td>{{ wo.topic_name}}</td>
                <td>{{ wo.name}}</td>
                <td>{{ wo.url}}</td>
                <td>{{ wo.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>