<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>select multiple optins</h1>

        <form action="" method="POST">
            {% csrf_token %}

            <label for="tn">name</label>
            <select name="tn" id="tn" multiple>
                {% for wo in web %}
                    <option value="{{ wo.topic_name }}">{{ wo.topic_name }}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>